<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>MovieJS (beta)</h1>
<p>An IMDB-backed movie api written in node.js</p>
<p><a class="btn btn-success btn-large" href="/v1/title/tt1345836">Try It Now</a></p>
</div>

<div class="row">
<div class="span12">
	<h2>Resources</h2>
	<p>
	<ul>
		<li><strong>Title</strong>: /v1/title/:id (where id is IMDB title id) example: <a href="/v1/title/tt1345836">The Dark Knight Rises</a></li>	
	</ul>
	</p>
</div>
</div>

<hr>
    
