h1= title
p Welcome to #{title}
div An IMDB-backed movie api written in node.js

div
	Resources
	ul
		li
			/v1/title/:id - example (where id is IMDB title id): 
			a(href="/v1/title/tt1345836") The Dark Knight Rises

script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33049106-1']);
      _gaq.push(['_trackPageview']);
 
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
