h1= title
p Welcome to #{title}
div An IMDB-backed movie api written in node.js

div
	Resources
	ul
		li
			/v1/title/:id - example (where id is IMDB title id): 
			a(href="/v1/title/tt1345836") The Dark Knight Rises
